body{
    margin: 0;
    font-family: "Poppins";
    
}

nav{
    background-color: #FFCC49;
    width: 100%;
    position:absolute;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 35px 0px 35px;

}

.btn-alert img{
    width: 50px;
}

.btn-alert{
    cursor: pointer;
    background: transparent;
    border: 0;

}
.container{
    width: 100%;
    min-width: 100vh;
    padding: 2%;
   
    background-position: center;
    background-size:cover;
    align-items:center;
    justify-content: center;
    
}

.search-bar{
    width:100%;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 60px;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 18px;
    border: 0;
}

::placeholder{
    color: #5f5f5f;
}

.search-bar-button img{
    width: 30px;
}

.search-bar-button{
   cursor: pointer;
   background: transparent;
   border: 0;
}

li{
    list-style: none;
}